.ldsDualRing {
	display: flex;
	width: 100%;
  margin-top: 35px;
	align-items: center;
	justify-content: center;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 55px;
  height: 55px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #ffffff transparent #ffffff transparent;
  animation: ldsDualRing 1.2s linear infinite;
}
@keyframes ldsDualRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
